.footer {
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 60px;

        .link {
            background: var(--shade-2);
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 15px;
            border-radius: 100px;
            color: var(--shade-7);
            transition:  0.3s aese all;
            text-decoration: none;

                .icono {
                    height: 20px;
                    width: 20px;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
        &:hover {
            color: #fff;
        }
            
        &.instagram:hover {
            background:  linear-gradient(90deg, #8e2de2, #4a00e0);
        }
        &.linkedin:hover {
            background:  linear-gradient(90deg, #8e2de2, #4a00e0);
        }
        &.behance:hover {
            background:  linear-gradient(90deg, #8e2de2, #4a00e0);
        }

        }

    }

    .copyright {
        color: var(--shade-4);
        text-align: center;
        font-size: 14px;
    }
}