*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--shade-1: #F2F2F2;
--shade-2: #D9D9D9;
--shade-3: #BFBFBF;
--shade-4: #A6A6A6;
--shade-5: #8C8C8C;
--shade-6: #737373;
--shade-7: #595959;
--shade-8: #404040;
--shade-9: #0D0D0D;
--shade-10: #000000;
--primario: #8965c2;
--primario-hover: linear-gradient(90deg, #8e2de2, #4a00e0);
}

body {
    font-family: "Inter", serif;
    background: var(--shade-1);
    color: var(--shade-9);
    &.dark {
        background:  var(--shade-9);
        color: var(--shade-4);
    }
}

a {
    text-decoration: none;
    color: var(--shade-8);
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }

    .dark & {
        color: var(--shade-4);
    }
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: auto;

}

.boton {
    background: var(--primario);
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 500;
    padding: 14px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s ease all;
    text-decoration: none;
    &:hover {
        background: linear-gradient(90deg, #8e2de2, #4a00e0);
        text-decoration: none;
    }

    .dark & {
        color: #ffff;
    }

}
.trabajos,
.contacto,
.footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
        padding: 60px 20px;

        .encabezado {
            display: flex;
            flex-direction: column;
            gap: 14px;
            align-items: center;

                .titulo {
                    font-family: 'Merriweather', serif;
                    color: var(--shade-7);
                    font-size: 22px;
                    font-weight: 700;

                    .dark & {
                        color: var(--shade-2);
                    }
                }

                .subtitulo {
                    font-size: 16px;
                    color: var(--shade-6);
                    .dark & {
                        color: var(--shade-4);
                    }
                }
        }
    }